/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.25s linear all;
  -moz-transition:0.25s linear all;
  -o-transition:0.25s linear all;
  transition:0.25s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity: 1;
  height: 30px;
}
.repeat-item {
  height: 30px;
}
.delete {
  float: right;
}


.animate.ng-enter.ng-enter-active,
.animate.ng-move.ng-move-active {
   opacity:1;
 }

.ng-hide {
  opacity:0;
}

.animate-show.ng-hide-remove {
}

.animate-show.ng-hide {
  transition: all linear 0.5s;
  line-height: 0;
  opacity: 0;
}


.animate {
  -webkit-transition:0.5s linear ;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

#loading-spinner {
  position:fixed;
  top:45%;
  left:47.5%;
}