<h4>User List</h4>
<div class="panel panel-default">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, user) in users | orderBy: '-ID'"  class="repeat-item">
            <th scope="row" ng-bind="user.ID"></th>
            <td ng-bind="user.firstname"></td>
            <td ng-bind="user.surname"></td>
            <td ng-bind="user.email"></td>
        </tr>
        </tbody>
    </table>
</div>