<div class="jumbotron" ng-controller="MainCtrl">
  <h1>"Oida, Allo"!</h1>
  <p class="lead">
    <img src="images/linslin-avatar.png" alt="I'm a Wonster"><br>
   AngularJS angular-odm demo application.
  </p>
  <p>
    This demo application shows you how to handle angular-odm in your apps. ODM stands for <strong>O</strong>bject <strong>D</strong>atabase <strong>M</strong>odel. This
    demo runs without a API an background. Any data is stored on client side in local storage.
  </p>
</div>
<div class="bs-example" data-example-id="thumbnails-with-custom-content" ng-controller="ContentGeneratorCtrl">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" style="padding:40px; height:auto; width:auto; display: block;" src="images/icon-add-content-next.png" data-holder-rendered="true">
        <div class="caption">
          <h3 class="text-center">Add dummy content</h3>
          <p>Will create a small stack of dummy data user and user groups.</p>
          <p>
            <a href="javascript:void(0);" class="btn btn-block btn-primary" ng-click="generateSmallStack();" role="button">Add dummy data</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" style="padding:50px; max-height: 203px; height:auto; width:auto; display: block;" src="images/icon-delete-conent.png" data-holder-rendered="true">
        <div class="caption">
          <h3 class="text-center">Delete application data</h3>
          <p>Will cleanup application data. All contents will be deleted, be serious.</p>
          <p>
            <a href="javascript:void(0);" class="btn btn-block btn-primary" role="button" ng-click="deleteAllData();">Delete hole data</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" style="padding:40px; height:auto; width:auto; display: block;" src="images/icon-add-mass-content.png" data-holder-rendered="true">
        <div class="caption">
          <h3 class="text-center">Add mass content</h3>
          <p>Will add massive dummy content to app. Checkeli performance.</p>
          <p>
            <a href="javascript:void(0);" class="btn btn-block btn-primary" role="button" ng-click="generateBigStack();">Install mass dummies</a>
          </p>
        </div>
      </div>
    </div>
  </div>

    <div>
        <div id="myModal" class="modal fade" role="dialog" ng-class="{'in active': openDialog}">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-bind="loadingText"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{loadingProgress}}%">
                                {{itemCount}} / {{itemCountMax}} Items - {{loadingProgress}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>